.App {
  text-align: center;
}
.main{
  display: flex;
  height: 100vh;
  position: relative;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  gap: 80px;
  transition: all .5s;
}
.side-container {
  display: flex;
  height: 100vh;
  position: fixed;
}
.sidebar {
  background: #000;
  color: #fff;
  height: 100vh;
  width: 300px;
  transition: all 0.5s;
}
.top_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
}
.logo {
  font-size: 22px;
  transition: all 0.5s;
}
.bar {
  font-size: 35px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-left: 75px;
  cursor: pointer;
  transition: all 0.5s;
}
.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.link:active {
  background: lightskyblue;
  color: #000;
}
.button {
  border: lightskyblue !important;
  color: #000 !important;
  background: lightskyblue !important;
}

.button:hover {
  background-color: rgb(66, 130, 169) !important;
  transition: all 0.5s !important;
}
.icon, .link_text {
  font-size: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  margin-top: 170px;
  transition: all 0.5s;
} 
.profile:hover {
  cursor: pointer;
}
