.App {
  text-align: center;
}
.createUserForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 575px;
  border: 2px solid black;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  border-style: solid;
  box-shadow: 1px 2px 2px 1px black;
}
.loginForm{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 575px;
  border: 2px solid black;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  box-shadow: 1px 2px 2px 1px black;
}
.dontHaveAccount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  padding-left: 45px;
  padding-right: 18px;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.formLogo {
  display: flex;
  flex-direction: column;
}

.userPost{
  width: 400px;
  height: 200px;
  border: 2px solid black;
  padding-top: 10px;
  border-radius: 20px;
}
/* Amir CSS */
@media only screen and (max-width: 1097px){
  .main {
    display: flex;
    flex-direction: column;
    background-color: black;;
  }
  #mobile-content{
    width: 100vw;
    gap: 0;
  }
  #mobile-fixed {
    position: sticky;
    width: 100vw;
    border: none;
  }
  #right-section{
    display: none;
  }
  #resp-sidebar {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    border: none;
  }
  #top-sidebar {
    display: none;
  }
  #resp-sidebar > .link {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 0 auto;
  }
  .link_text{
    display: none;
  }
}
.main{
  display: flex;
  height: 100vh;
}
.content, .right-content {
  display: flex;
  background: #000;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: auto;
  height: 100vh;
  transition: all .5s;
}
.right-content {
  width: 40%;
}
.content {
  width: 60%;
  border-right: .02px solid #ccc;
}
.post-button {
  background: rgba(128, 128, 128, .3);
  width: 6.5rem;
  border-radius: 50px;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}
.post-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.post-button:hover {
  background: rgba(103, 102, 102, 0.3);
  transform: scale(1.1,1.1);
  transition: smooth .5s;
}
.pointer {
  font-size: 2rem;
}
.pointer:hover {
  transform: scale(1.5,1.5);
  cursor: pointer;
}
.fixed-container, .fixed-container-right {
  position: sticky;
  top: 0;
  width: 100%;
  background: #000;
  color: #fff;
  z-index: 1;
  border-bottom: .02px solid #ccc;
}
.post-section, .post-section-right {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 100px;
}
.content::-webkit-scrollbar {
  display: none;
}
.sidebar {
  background: #000;
  color: #fff;
  height: 100vh;
  width: 275px;
  transition: all 0.5s;
  border-right: .02px solid #ccc;
}
.top_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
}
.logo {
  height: 125px;

  transition: all 0.5s;
}
.bar {
  font-size: 35px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-left: 75px;
  cursor: pointer;
  transition: all 0.5s;
}
.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  gap: 10px;
  margin-left: 40px;
  transition: all 0.5s;
}
.link:hover {
  cursor: default;
  color: #fff;
}
.button {
  border: rgba(103, 102, 102, 0.3) !important;
  color: #000 !important;
  background: rgba(103, 102, 102, 0.3) !important;
  width: 8rem;
}

.button:hover {
  background: rgba(82, 81, 81, 0.549) !important;
  transition: smooth 0.5s !important;
}
.icon, .link_text {
  font-size: 20px;
}
.navItem {
  display: flex;
  gap: 15px;
  padding: 13px;
  border-radius: 30px;
}
.navItem:hover {
  background: rgba(128, 128, 128, .3);
  color: #fff;
  transition: all 0.5s;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  transition: all 0.5s;
} 
.profile:hover {
  cursor: pointer;
}
.textarea-post {
  text-align: left;
  color: #fff;
  background: #000;
  border: none;
  /* max-width: 100%; */
  min-height: 17px;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 70%;
  font-size: 17px;
}
[contenteditable=true]:empty:before{
  content: attr(placeholder);
  pointer-events: none;
  color: lightgrey;
}
.textarea-post:focus {
  outline: none;
}

.plus-icon {
  font-size: 20px;
}
.glowing-border {
  border: 2px solid red;
  border-radius: 7px;
}

* {
  font-family: 'Fira Sans', sans-serif;
  /* color: black; */
  margin: 0;
  padding: 0;
}

/* Erecks css */
.ProfileBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  /* flex-wrap:wrap; */
  padding: 20px;
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  background-color: black;
  color: white;
  border-right: .02px solid #ccc;
  text-align: center
}

.edit {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.edit label {
  text-align: left;
  display: block;
  color: white;
}

.edit h2 {
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
}

.edit input, .edit textarea {
  width: 100%;
  padding: 6px 5px;
  margin: 15px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  background-color: black;
  color: white;
}

textarea {
  max-width: 100%;
}

.edit button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.Follow {
  word-spacing: 2em;
  
}

.followBtn {
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}

.editBtn {
  border-radius: 12px;
  border: none;
  max-width: 151px;
  min-width: 150px;

}

.noPost {
  color: gray;
}

.display_image {
  width: 800px;
  min-width: 100%;
  height: 0 auto;
  /* border: 1px solid black; */
  border-bottom: solid white;  
  }

.cover {
  object-fit: cover;
  width: 800px;
  min-width: 100%;
  height: 300px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 70px;
}

.profile-post {
  min-width: 100%;
  border-top: solid white;
}

.FolMess {
  display: flex; 
  flex-direction: row;
  gap: 15px;
  margin-left: 80%;
}

.PsuBtn, .changeBtn{
  border-radius: 12px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
}

.hover-link {
  text-decoration: none;
  color: white;
}

