@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.icons {
  display: flex;
  gap: 15px;
  padding-left: 15px;
}

.createUserForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 550px;
  border: 2px solid black;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  border-style:solid;
}

.loginForm{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 575px;
  border: 2px solid black;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}

.dontHaveAccount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  padding-left: 45px;
  padding-right: 18px;
}

.formLogo {
  display: flex;
  flex-direction: column;
}

.userPost{
  width: 300px;
  height: 200px;
  border: 2px solid black;
  padding-top: 10px;
  border-radius: 20px;
}
 
@media only screen and (max-width: 1097px){
  .main {
    display: flex;
    flex-direction: column;
  }
  #mobile-content{
    width: 100vw;
    gap: 0;
  }
  #mobile-fixed {
    position: sticky;
    width: 100vw;
    border: none;
  }
  #right-section{
    display: none;
  }
  #resp-sidebar {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    border: none;
  }
  #top-sidebar {
    display: none;
  }
  #resp-sidebar > .link {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 0 auto;
  }
  .link_text{
    display: none;
  }
}
.main{
  display: flex;
  height: 100vh;
}
.content, .right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: auto;
  width: 100%;
  height: 100vh;
  transition: all .5s;
}

.fixed-container, .fixed-container-right {
  position: sticky;
  top: 0;
  width: 100%;
  background: #000;
  color: #fff;
}
.post-section, .post-section-right {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 100px;
}
.content::-webkit-scrollbar {
  display: none;
}
/* .side-container {
  display: flex;
  height: 100vh;
  overflow: auto;
  position: fixed;
} */
.sidebar {
  background: #000;
  color: #fff;
  height: 100vh;
  width: 300px;
  transition: all 0.5s;
  border-right: 1px solid rgb(169, 30, 30);
}
.top_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
}
.logo {
  font-size: 22px;
  transition: all 0.5s;
}
.bar {
  font-size: 35px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-left: 75px;
  cursor: pointer;
  transition: all 0.5s;
}
.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  gap: 15px;
  margin-left: 40px;
  transition: all 0.5s;
}
.link:hover {
  cursor: default;
  color: #fff;
}
.button {
  border: lightskyblue !important;
  color: #000 !important;
  background: lightskyblue !important;
}

.button:hover {
  background-color: rgb(66, 130, 169) !important;
  transition: all 0.5s !important;
}
.icon, .link_text {
  font-size: 20px;
}
.navItem {
  display: flex;
  gap: 15px;
  padding: 13px;
  border-radius: 30px;
}
.navItem:hover {
  background: rgba(128, 128, 128, .3);
  color: #fff;
  transition: all 0.5s;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  margin-top: 170px;
  transition: all 0.5s;
} 
.profile:hover {
  cursor: pointer;
}

.plus-icon {
  font-size: 20px;
}

* {
  font-family: 'Fira Sans', sans-serif;
  color: black;
}

